@import "../../style/media-queries";
@import "../../style/mixins";

.portfolio-item {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  text-decoration: none;

  @include md {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &:hover {
    .frame {
      opacity: 1;
    }

    .slice {
      transform: translateY(0);
      opacity: 1;
    }
  }

  > h2 {
    @include lg {
      display: none;
    }
  }
}

.content-holder {
  @include md {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 40%;
    padding-right: 20px;
  }

  > h2 {
    display: none;

    @include lg {
      display: block;
    }
  }
}

h2 {
  font-weight: 400;
  position: sticky;
  top: var(--header-height-floating);
  background-color: #fff;
  z-index: 2;
  text-align: center;
  padding-bottom: 12px;

  @include sm {
    top: var(--header-height-floating-sm);
  }

  @include md {
    top: var(--header-height-floating-md);
    flex: 0 0 100%;
    text-align: left;
  }

  @include lg {
    width: 100%;
    flex: 0 0 auto;
    padding: 10px 0;
  }

  @include rwd(1340) {
    top: -1px;
  }

  &.header-is-floating {
    padding-bottom: 6px;
  }
}

h3 {
  font-weight: 300;
  color: var(--color-text);
  margin-bottom: 12px;
  @include fontSize(16);

  @include sm {
    @include fontSize(20);
  }

  @include md {
    @include fontSize(24);
  }
}

p {
  margin-bottom: 12px;
  font-weight: 300;
  @include fontSize(14);

  @include lg {
    margin-bottom: 16px;
    @include fontSize(16);
  }
}

.frame {
  position: relative;
  overflow: hidden;

  @include md {
    flex: 0 0 60%;
  }

  @include xl {
    flex: 0 0 700px;
    width: 700px;
    height: 320px;
  }
}

.slices {
  display: none;

  @include xl {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.slice {
  width: 70px;
  height: 100%;
  background-size: 700px 320px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0;
  transition: all var(--default-transition-time) ease-in-out;
  transform: translateY(-40px);
}

$columns: 10;
$a: 0;

@for $i from 2 through $columns {
  $a: $a + 70px;
  .slice-#{$i} {
    background-position-x: -#{$a};

    @if $i % 2 == 0 {
      transform: translateY(40px);
    }
  }
}

hr {
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: var(--color-muted);
  border: 0;
}

.img {
  display: none;
  
  @include md {
    display: inline-block;
  }
}
