@import "../../style/media-queries";

nav {
  position: fixed;
  bottom: calc(var(--header-height-floating) * -1);
  left: 0;
  width: 100%;
  height: var(--header-height-floating);
  display: flex;
  align-items: center;
  background: #fff;
  transition: all var(--default-transition-time) ease;
  z-index: var(--header-z-index);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.12);

  @include md {
    bottom: calc(var(--header-height-floating-md) * -1);
    height: var(--header-height-floating-md);
  }

  @include lg {
    bottom: auto;
    top: calc(var(--header-height-floating-md) * -1);
    right: 0;
    left: auto;
    transform: translateY(-100%);
    background-color: #fff;
    width: 50vw;
    box-shadow: none;
  }

  @include rwd(1340) {
    top: 50%;
    transform: translate(100%, -50%);
    width: 60px;
    height: 60vh;
  }

  &.show-navigation {
    transform: translateY(-100%);

    @include lg {
      transform: translate(0, 100%);
    }

    @include rwd(1340) {
      transform: translate(0, -50%);
    }
  }
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  @include rwd(1340) {
    flex-direction: column;
    height: 100%;
  }
}
