@import "../../style/media-queries";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: var(--header-height);
  z-index: var(--header-z-index);
  overflow: hidden;
  padding: 0 10px;
  background-color: #fff;
  transition: all var(--default-transition-time);

  @include sm {
    height: var(--header-height-sm);
  }

  @include md {
    height: var(--header-height-md);
  }

  @include rwd(1340) {
    height: 0;
  }
}

.header-is-floating {
  padding: 0 5px;
  height: var(--header-height-floating);
  

  @include sm {
    height: var(--header-height-floating-sm);
  }

  @include md {
    height: var(--header-height-floating-md);
  }
  @include lg {
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.12);
  }

  @include rwd(1340) {
    height: 0;
  }
}

.js-intersection-detector {
  height: 0;
  width: 100%;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  transition: all var(--default-transition-time);

  @include rwd(1340) {
    position: fixed;
    top: var(--header-height-md);
    left: 5px;
    z-index: var(--header-z-index);
    writing-mode: vertical-rl;
    background-color: #fff;
  }
  
  .header-is-floating & {

    @include rwd(1340) {
      transform: translateY(-26px);
    }
  }
}
