@import "../../style/mixins";
@import "../../style/media-queries";

svg {
  overflow: visible;
}

.timeline {
  fill: none;
  stroke: var(--color-text);
  stroke-width: 1px;
}

.circle {
  fill: var(--color-text);
  visibility: hidden;

  &--indicator  {
    visibility: visible;
  }
}

.pointer {
  fill: var(--color-text);
  visibility: hidden;
}

.text {
  
  font-family: var(--font-primary);

  &--position {
    fill: var(--color-text);
    @include fontSize(25, 25);
    
    @include lg {
      @include fontSize(15, 15);
    }
  }

  &--company {
    fill: var(--color-text-light);
    @include fontSize(20, 20);
    transform: translateY(25px);

    @include lg {
      transform: translateY(12px);
      @include fontSize(10, 10);
    }
  }

  &--date {
    display: none;

    @include lg {
      fill: var(--color-text-light);
      transform: translateY(24px);
      display: block;
      @include fontSize(8, 8);
    }
  }

  &--year {
    @include fontSize(15, 15);
    fill: white;
    transform: translate(-16px, 14px);
    visibility: hidden;

    @include lg {
      @include fontSize(15, 15);
    }
  }
}
