@import "../../style/mixins";
@import "../../style/media-queries";

section {
  text-align: center;
}

svg {
  max-width: 600px;
  overflow: visible;
}

.timeline {
  fill: none;
  stroke: var(--color-text);
  stroke-width: 1px;
}

.circle {
  fill: var(--color-text);
  visibility: hidden;

  &--indicator  {
    visibility: visible;
  }
}

.text {
  
  font-family: var(--font-primary);

  &--position {
    fill: var(--color-text);
    @include fontSize(25, 25);
  }

  &--company {
    fill: var(--color-text-light);
    @include fontSize(20, 20);
    transform: translateY(25px);
  }

  &--date {
    display: none;
    transform: translateY(20px);
  }

  &--year {
    fill: white;
    transform: translate(-16px, 14px);
    visibility: hidden;
  }
}
