@import "../../style/media-queries";

ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  @include lg {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

span {
  transition: all var(--default-transition-time);
  border: 1px solid var(--label-border-color);
  padding: 3px 5px;
  color: var(--label-color);
  background-color: var(--label-bg-color);
}
