ol {
  display: flex;
  margin-bottom: 24px;
}

li {
  font-weight: 300;

  &:not(:first-child) {
    &:before {
      display: inline-block;
      padding: 0 8px;
      color: var(--color-muted-10);
      content: "/";
    }
  }
}
