@import "../../style/media-queries";
@import "../../style/mixins";

.container {
  padding: 20px 10px;

  @include md {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "header header"
      "list tags"
      "asset asset"
  }
  
  @include lg {
    grid-template-columns: 1fr 1fr;
  }
}

h2 {
  margin-bottom: .5em;
}

h3 {
  margin-bottom: 12px;
  @include fontSize(16);
  font-weight: 400;
  color: var(--color-text);

  @include sm {
    @include fontSize(20);
  }

  @include md {
    margin-bottom: 22px;
    @include fontSize(24);
  }
}

.description {
  margin-bottom: 16px;

  @include md {
    grid-area: list;
    padding-right: 22px;
  }
}

ul {
  margin-bottom: 24px;
}

li {
  @include fontSize(14);
  position: relative;
  padding-left: 12px;
  margin-bottom: 12px;

  @include md {
    @include fontSize(16);
  }

  @include lg {
    @include fontSize(18);
  }
  
  &:before {
    position: absolute;
    left: 0;
    top: 8px;
    display: block;
    width: 8px;
    height: 1px;
    content: "";
    background-color: var(--color-muted-10);

    @include md {
      top: 9px;
    }

    @include lg {
      top: 12px;
      height: 2px;
    }
  }
}

.tags {
  grid-area: tags;

  @include md {
    display: flex;
    align-items: center;
  }
}

video {
  max-width: 100%;
  margin-bottom: 24px;
}

.video-holder {
  display: flex;
  justify-content: center;
  
  @include md {
    grid-area: asset;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--color-muted);
    padding-top: 24px;
  }
  
  video {
    display: none;

    @include md {
      display: block;
    }
  }
  
  img {

    @include md {
      display: none;
    }
  }
}

.head {
  grid-area: header;
}

p {
  color: var(--color-text);
  @include fontSize(14);

  @include md {
    @include fontSize(16);
  }

  @include lg {
    @include fontSize(18);
  }
}
